body{
	background-image:url(../imgs/login.jpg);
}
table{
	width:360px;
	height:400px;
	font-size:16pt;
	color:white;
}
table tr{
	text-align:center;
}
#signForm{
	margin-top:160px;
}
#signBt{
	background-color:red;
	color:white;
	font-size:12pt;
}